@keyframes pageSlide
	from
		transform: translateY(11px)
	to
		transform: translateY(0px)

@keyframes pageSlideToRight
	from
		transform: translateX(331px)
	to
		transform: translateX(0px)

@keyframes pageSlideToLeft
	from
		transform: translateX(-331px)
	to
		transform: translateX(0)
