@import './../../../sass/util/vars.sass'
@import './../../../sass/util/mixins.sass'
._accounts
	height: 1000px
	&>._hdr
		&>._right
	&>._cont
		&>._right-tab
			&>._tab-content
				&>.container_
					padding: 11px
					&>._avtr
						height: 110px
						display: flex
						align-items: center
						justify-content: center
						border-bottom: 1px solid #f0f0f0
						&>._ic
							font-size: 64px
							color: #444
					&>._lst
						margin: 0 11px
						&>._itm_
							display: flex
							align-items: center
							margin: 21px 0
							font-size: 13px
							font-weight: 400
							&>._nme
								width: 40%
								color: #888
							&>._vle
								width: 60%
								color: #333
								font-weight: 500

			

	&>.accounts-tab
		&>._list
			&>._itm-outer
	&.item-selected
		&>._hdr
			&>._ttl
				+media-only-mobile
					display: none!important
			&>._right
				&>._always
					+media-only-mobile
						display: none!important