@import './mixins.sass'
@import './vars.sass'
html, body
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif
	margin: 0 auto
	+media-only-mobile
		// overflow-x: hidden
	&.app-nav-scroll-hidden-on-mobile
		+media-only-mobile
			overflow-y: hidden


.text-right
	text-align: right
.text-center
	text-align: center

.display-none
	display: none
.display-none-strict
	display: none!important

.text-success
	color: $success
.text-warning
	color: $warning
.text-info
	color: $info
.ic-space-btn
	margin-left: 11px
.ic-space-btn-left
	margin-right: 5px

.caption
	color: #777
	font-size: 13px
	font-weight: 400
.input-error
	color: $input-error
	font-size: 13px
	font-weight: 400

.width-100
	width: 100%

.small-tbl
	&>thead
		&>tr
			&>th
				padding: 0 13px!important
	&>tbody
		&>tr
			&>td
				padding: 0 13px!important


// material type input coversion for auo-select
$select-border-color: rgba(217, 217, 217, 0.42)
.md.Select
	&>.Select-control
		border: transparent
		border-bottom: 2px solid $select-border-color
		border-radius: 0
		box-shadow: none!important
		transition: 0.2s all ease-in
	&.is-focused
		&>.Select-control
			border-bottom-color: $primary

// anim
.pageSlideToRight
	animation: pageSlideToRight 0.223s ease-out
.pageSlideToLeft
	animation: pageSlideToLeft 0.223s ease-out


.responsive-modal
	&>div:nth-child(2)
		+media-only-mobile
			height: 100%
			width: 100%
			max-width: 100%
			min-width: 100%
			max-height: 100%
			margin: 0
			border-radius: 0
			top: 0
			left: 0
			& .close
				margin-left: -17px
		+media-only-desktop
			min-width: 550px



.inner-loader-layout
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: none
	align-items: center
	justify-content: center
	z-index: 5
	&.active
		display: flex
	&>.back-drop
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: #fff
		opacity: 0.8
		z-index: 2
	&>._cont
		z-index: 3
		background-color: #fff
		display: flex
		align-items: center
		&>._ttl
			margin-left: 15px

$reading-loader-mask: rgba(238, 238, 238, 0.02)
$reading-loader-line: rgba(221, 221, 221, 0.31)
.reading-loader
	position: relative
	&:after
		content: ""
		background: linear-gradient(to right, $reading-loader-mask 8%, $reading-loader-line 18%, $reading-loader-mask 33%)
		background-size: 240% 104px
		position: absolute
		animation-name: placeHolderShimmer
		animation-timing-function: ease-in-out
		animation-fill-mode: forwards
		animation-duration: 1.1s
		animation-iteration-count: infinite
		width: 100%
		height: 100%
		top: 0
		left: 0
		z-index: 3
